*
{
    box-sizing: border-box;
    margin: 0;
}

.header {
    position: relative;
    top: 20px;
    text-align: center;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    color: navy;
    text-align: center;
    display: inline-block;
    position: fixed;
}

body {
    background-color: rgb(188, 223, 245);
}

/*There is only one section on this page, so I'm keeping it simple.*/
section {
    background-color: white;
    line-height: 30px;
    top: 230px;
    left: 10px;
    position: fixed;
    border-style: dashed;
    border-color: navy;
    font-size: 17px;
    text-align: center;
}

.button {
    position: fixed;
    bottom: 10px;
    left: 30px;
    border-style: solid;
    border-color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
}

.i {
    position: fixed;
    height: 130px;
    width: 160px;
    top: 100px;
    left: 370px;
}

.heart {
    position: fixed;
    height: 100px;
    width: 160px;
    top: 110px;
    left: 550px;
}

.cape {
    position: fixed;
    height: 120px;
    width: 150px;
    top: 95px;
    left: 755px;
}


