*
ol,ul {
	list-style: none;
}

#mainMenu {
	margin: 10px;
	width: 900px;
	font-family: cursive;
}

#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:rgb(255, 255, 255);
    background-color: #009;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}
			
#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}

